head,body {
    width: 600px;
    text-align: center;

}

canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}

canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}
/* Area for displaying the two game play buttons */
#select-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* CSS for styling buttons */

.button-style {
    display: block;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px 15px;
    /* text-align: center; */
    text-decoration: none;
    color: white;
    background-color: #2c5bbe;
    border-radius: 15px;
    box-shadow: 0 0.2em #c1b2b2;
    font-family: 'Verdana', sans-serif;
    font-size: 14px;
  }


